.parent {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 30px 0;
    margin-top: -60px;
    border-radius: 40px 40px 0 0;
    background-color: #ffffff;
    padding-top: 30px;
}

.bg-text {
    flex: 1 1 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;
}

.bg-content {
    /* flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative; */
    width: 35%;
    padding-top: 35px;
}

.bg-heading {
    /* margin-top: 12rem; */
    color: #66389C;
    font-family: 'Poppins';
    font-size: 35px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */
    /* width: 646px;
    height: 110px; */
    /* flex-shrink: 0; */
}

.bg-sub_text {
    color: #000;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    /* width: 646px;
    height: 207px; */
    flex-shrink: 0;
    padding-top: 2rem;

}

.image-content {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 426px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 25px;
    border-radius: 31px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.bg-play {
    position: absolute;
    bottom: 30%;
    right: 0;
}

.bg-apple {
    width: 165px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    bottom: 15%;
    right: 0;


}

.our-app {
    position: absolute;
    top: 5%;
    right: 15%;
    color: #000;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 246px;
    height: 72px;
    flex-shrink: 0;
    padding: 10px;

}

.QR {
    position: absolute;
    bottom: 8%;
    right: 40%;
    width: 70%;
    height: 70%;
    flex-shrink: 0;
}

.bg-OR {
    position: absolute;
    bottom: 35%;
    left: 45%;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
}

.download-button-div {
    flex-basis: 100%;
    position: relative;
    margin-bottom: 4rem;
    ;

}

.download-button {
    right: 5%;
    position: absolute;
    background-color: red;
    width: 255px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 33px;
    background: #34283F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.download-app {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    width: 176px;
    height: 76px;
    flex-shrink: 0;
    letter-spacing: 1.33px;
    right: 0;
    position: absolute;
    top: 25%;
}

.qr2 {
    width: 55px;
    height: 42px;
    flex-shrink: 0;
    position: absolute;
    right: 70%;
    top: 20%;
}

@media(max-width: 450px) {
    .bg-content {
        width: 100% !important;
    }
}

@media (min-width:320px) and (max-width:425px) {
    /* .main-image {
            width: 250px;
            height: 200px;
            flex-shrink: 0;
           
        }
    
        .bg-content {
            justify-content: center;
            align-items: center;
            display: flex;
            position: relative;
            right: 80%;
    
        }
        .bg-sub_text{
            height:0;
            width:0;

                }
                .bg-heading{
                    height:0;
                    width:0;
                    margin-bottom:80%;
                } */

}

@media (min-width: 1750px) {


    .download-button {
        position: absolute;
        right: 2%;

    }


}

@media (max-width: 850px) {


    .parent {
        flex-direction: column;


    }

    .download-button {
        position: absolute;
        right: 7%;

    }


}

@media (max-width: 768px) {


    .parent {
        flex-direction: column;

    }


}