.parent {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 30px 0;
    margin-top: -60px;
    border-radius: 40px 40px 0 0;
    background-color: #ffffff;
    padding-top: 30px;
}

.bg-text {
    flex: 1 1 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-bottom: 10%;
}

.main-image {
    width: 100%;
}

.sticky-btn {
    width: 50%;
    /* height: 10%; */
    flex-shrink: 0;
    bottom: 0;
    right: 0;
    background-color: #342547;
    color: #FFF;
    border: none;
    white-space: nowrap;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-radius: 20px;
    line-height: normal;
    position: absolute;
    display: flex;
    /* Use flexbox */
    align-items: center;
    justify-content: center;
    /* Align items vertically in the center */

}

.bg-content {
    width: 35%;
    position: relative;
    padding-top: 35px;
}

.bg-heading {
    color: #66389C;
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 700;
}

.bg-sub_text {
    color: #000;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    margin-top: 5%;
    flex-shrink: 0;
    margin: 0;
}

.image-content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 426px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 25px;
    border-radius: 31px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bg-play {
    position: absolute;
    bottom: 30%;
    right: 0;
}

.bg-apple {
    width: 165px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    bottom: 15%;
    right: 0;
}

.our-app {
    position: absolute;
    top: 5%;
    right: 15%;
    color: #000;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 246px;
    height: 72px;
    flex-shrink: 0;
    padding: 10px;

}

.QR {
    position: absolute;
    bottom: 8%;
    right: 40%;
    width: 70%;
    height: 70%;
    flex-shrink: 0;
}

.bg-OR {
    position: absolute;
    bottom: 35%;
    left: 45%;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
}

.download-button-div {
    bottom: 0;
    right: 0;
    position: relative;
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    border-radius: 100px;
    background-color: #34283F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.download-button p {
    margin: 0;
}

.download-button img {
    width: 55px;
    margin-top: 6px;
    margin-left: 10px;
}

.download-app {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.33px;
}

.sticky-btn p {
    font-size: 18px;
    width: 100%;
    margin-top: 2%;
}

.qr2 {
    /* width: 55px;
    height: 42px;
    flex-shrink: 0;
    position: absolute;
    right: 70%;
    top: 20%; */
}

.magic-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjust background color and opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width: 450px) {
    .bg-content {
        width: 100% !important;
    }
}

@media (min-width:320px) and (max-width:425px) {
    /* .main-image {
            width: 250px;
            height: 200px;
            flex-shrink: 0;
           
        }
    
        .bg-content {
            justify-content: center;
            align-items: center;
            display: flex;
            position: relative;
            right: 80%;
    
        }
        .bg-sub_text{
            height:0;
            width:0;

                }
                .bg-heading{
                    height:0;
                    width:0;
                    margin-bottom:80%;
                } */

}

@media (min-width: 1750px) {


    .download-button {
        position: absolute;
        right: 2%;

    }


}

@media (max-width: 850px) {


    .parent {
        flex-direction: column;


    }

    .download-button {
        position: absolute;
        right: 7%;

    }


}

@media (max-width: 768px) {


    .parent {
        margin-top: 1rem;
        flex-direction: column;

    }


}

.hover-div {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    width: 296px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 20px;
}

.qr-code-box:hover .hover-div {
    display: flex;
}

.div-horizontal span {
    font-weight: 600;
}

.qr-code-box {
    position: relative;
    width: 60%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    padding: 20px 0 0 0;
}

.div-horizontal {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.qr-div {
    width: 30%;
}

.ios-android-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.qr-div h1,
.ios-android-div h1 {

    margin: 20px;

}

.hover-google {
    width: 100px;
}

.hover-ios {
    width: 100px;
}

.div-horizontal span {
    /* top: 50px;
    position: relative;
    left: 10px; */
}

.bg-QR {
    width: 100%;
}

.hover-div h1 {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    margin-top: -25px;
}