.diverse-parent {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: #342547;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    overflow: visible;

}

.diverse-text {
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 21.77%, rgba(255, 255, 255, 0.74) 28.57%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.diverse-icon-row {
    width: 100%;
    display: flex;
    max-width: 1040px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    /* margin-bottom: 3rem; */
}

.diverse-icon-row p {
    flex: 1;
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100% /6);
    margin-top: -0px;
    gap: 0.5rem;
}


.div-img-text p {
    align-items: center;
    justify-content: center;
    width: 120px;
}

/* 
.image-container1 {

    height: 185px;
    width: 115px;
} */

.image-container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.diverse-image-class {
    width: 60px;
    aspect-ratio: 1;
}

.selected-div-moving {
    position: absolute;
    /* bottom: 15%; */
    top: 0;
    left: calc(100% /6);


    width: calc(100% /6);

    aspect-ratio: 1;

    transition: all 0.3s ease;

    border-radius: 19px;
    background: rgba(148, 146, 151, 0.17);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.fade-in-out {
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition over 0.5 seconds */
}

.fade-in-out:hover {
    opacity: 1;
    /* Fully visible on hover */
}

.active-img {

    background: rgba(148, 146, 151, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    transition: opacity 0.5s ease;


    border-radius: 19px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    height: 100px;

    width: 110px;
}

.selected-img p {
    user-select: none;
    /* This property prevents text selection */
}

.diverse-background {
    height: 450px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(58, 53, 63, 0.29);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.5rem;
}

img.diverse-outline.image-class {
    width: 75%;

}

.diverse-change-bg {
    max-width: 100%;
    height: 90%;
    margin-right: 10px;
    position: relative;
}

.diverse-change-bg img {
    max-width: 100%;
    height: 200px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.hd-imagetext {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    /* bottom: 25%;
    left: 8%; */
}

.hd-image {
    width: 100px;
    height: auto;
    /* margin-right: 10px; */
}

.hdtext {
    margin: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    margin-left: 1rem;

}

.hdtext-content {
    /* top: 6rem;
    position: relative;
    right: 13rem; */
    margin-top: 2rem;
    margin-left: 0.5rem;
    color: #FFF;
    font-family: 'Poppins';
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 400;
    /* width: 427px; */
    /* height: 66px; */
    flex-shrink: 0;
    font-size: 18px;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    line-height: normal;
    /* white-space: nowrap; */
    /* margin-left: 25%; */
}

.diverse-outline-wrapper {
    position: relative;
    padding: 20px;

}

.image-class::before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* the color of the lines */
}

.image-class::after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* the color of the lines */
}

.image-class::before {
    top: -60px;
    bottom: 124px;
    left: -10px;
    width: 4px;
    border-radius: 2px solid;
}

.image-class ::after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.diverse-outline-wrapper::before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* the color of the lines */
}

.diverse-outline-wrapper::after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* the color of the lines */
}

/* Top and bottom lines */
.diverse-outline-wrapper::before {
    top: -60px;
    bottom: 124px;
    left: -10px;
    width: 4px;
    border-radius: 2px solid;
}

/* Left and right lines */
.diverse-outline-wrapper::after {
    left: -70px;
    right: 320px;
    top: -10px;
    height: 4px;
    border-radius: 2px solid;
}

/* .left-div {
    margin-left: 10%;
} */

@media(max-width: 450px) {
    .diverse-background {
        flex-wrap: wrap;
        height: 100% !important;
        width: 100% !important;
        position: inherit;
        display: block !important;
    }

    .diverse-change-bg {
        width: 75%;
        margin: 0 auto;
        display: flex;
        margin-top: 125px;
    }

    .features-content1,
    .features-content2,
    .features-content3,
    .features-content4 {
        font-size: 14px;
    }

    .diverse-icon-row p {
        font-size: 14px;
    }

    .div-img-text {
        width: 26%;
        margin-bottom: 35px;
    }

    .div-img-text img {
        width: 45px;
    }

    p.diverse-text,
    .bg-heading {
        font-size: 26px;
    }

    .feature1 img,
    .feature2 img,
    .feature3 img,
    .feature4 img {
        width: 120px;
    }

}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .hdtext {
        white-space: initial;
    }

    .diverse-change-bg {
        height: 39%;

    }

    .diverse-background {
        width: 100% !important;
    }

    .hd-imagetext {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 35%;
        left: 8%;
        transition: all 0.3s ease-in-out;
        flex-wrap: wrap;
    }

    .diverse-outline {
        transition: all 0.3s ease-in-out;

    }

    /* .hdtext-content { */
    /* right: 9rem; */
    /* top: 7rem; */
    /* } */
}

@media (max-width) {
    .hd-imagetext {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 35%;
        left: 8%;
        transition: all 0.3s ease-in-out;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .diverse-background {
        width: 100% !important;
    }
}

@media(max-width:768px) {
    .image-class {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .div-img-text {
        width: calc(100%/3);
    }

    .selected-div-moving {
        width: calc(100%/3);
    }
}