.diverse-parent {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: #342547;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    overflow: visible;
}

.diverse-text {
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 21.77%, rgba(255, 255, 255, 0.74) 28.57%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.diverse-icon-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem;
}

.diverse-icon-row p {
    flex: 1;
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div-img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-img-text p {
    align-items: center;
    ;
    justify-content: center;
    width: 120px;
}


.selected-img {
    border-radius: 19px;
    background: rgba(148, 146, 151, 0.17);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.diverse-background {
    height: 450px;
    width: 1200px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(58, 53, 63, 0.29);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.5rem;
}

.diverse-change-bg {
    max-width: 100%;
    height: 90%;
    margin-right: 10px;
    position: relative;
}

.diverse-change-bg img {
    max-width: 100%;
    height: 200px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.hd-imagetext {
    display: flex;
    align-items: center;
    position: relative;
    /* bottom: 25%;
    left: 8%; */
}

.hd-image {
    width: 100px;
    height: auto;
    /* margin-right: 10px; */
}

.hdtext {
    margin: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;

}

.hdtext-content {
    /* top: 6rem;
    position: relative;
    right: 13rem; */
    color: #FFF;
    font-family: 'Poppins';
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 400;
    width: 427px;
    height: 66px;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
    /* white-space: nowrap; */
    /* margin-left: 25%; */
}

.diverse-outline-wrapper {
    position: relative;
    /* Add any necessary styles to ensure the wrapper fits the image properly */
}

.diverse-outline-wrapper::before,
.diverse-outline-wrapper::after {
    content: '';
    position: absolute;
    background-color: white;
    /* the color of the lines */
}

/* Top and bottom lines */
.diverse-outline-wrapper::before {
    top: 0;
    bottom: 0;
    /* left: -10px; */
    /* adjust as needed */
    width: 2px;
    /* the thickness of the lines */
}

/* Left and right lines */
.diverse-outline-wrapper::after {
    left: 0;
    right: 0;
    top: -10px;
    /* adjust as needed */
    height: 2px;
    /* the thickness of the lines */
}

/* .left-div {
    margin-left: 10%;
} */

@media(max-width: 450px) {
    .diverse-background {
        flex-wrap: wrap;
        height: 100% !important;
        width: 100% !important;
        position: inherit;
        display: block !important;
    }

    .diverse-change-bg {
        width: 75%;
        margin: 0 auto;
        display: flex;
        margin-top: 125px;
    }

    .features-content1,
    .features-content2,
    .features-content3,
    .features-content4 {
        font-size: 14px;
    }

    .diverse-icon-row p {
        font-size: 14px;
    }

    .div-img-text {
        width: 26%;
        margin-bottom: 5px;
        height: 100px;
    }

    .div-img-text img {
        width: 45px;
    }

    p.diverse-text,
    .bg-heading {
        font-size: 26px;
    }

    .feature1 img,
    .feature2 img,
    .feature3 img,
    .feature4 img {
        width: 120px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {


    .diverse-change-bg {
        height: 39%;

    }

    .diverse-background {
        width: 100% !important;
    }

    .hd-imagetext {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 35%;
        left: 8%;
        transition: all 0.3s ease-in-out;
    }

    .diverse-outline {
        transition: all 0.3s ease-in-out;

    }

    .hdtext-content {
        /* right: 9rem; */
        /* top: 7rem; */
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .diverse-background {
        width: 100% !important;
    }
}

@media(max-width:768px) {
    .image-class {
        width: 300px;
    }
}