.features-parent {
    /* display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid #ccc; */
    /* padding: 20px;*/
    margin-top: 5%;
    margin-bottom: 5%;
}


.feature1,
.feature2,
.feature3,
.feature4 {
    padding: 10px;
    /* margin: 2rem; */
    /* reduce this for low size screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 22%; */
}

/* 
.feature2 {
    padding: 10px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
}

.feature3 {
    padding: 10px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
}

.feature4 {
    padding: 10px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
} */

.features-heading1,
.features-heading2,
.features-heading3,
.features-heading4 {
    color: #66389C;
    font-family: 'Poppins';
    font-size: 20px;
    height: 40px;
    font-weight: 600;
    /* margin-bottom: 4rem; */

}

/* 
.features-heading2 {
    color: #66389C;
    font-family: Poppins;
    font-size: 20px;
    height: 40px;
    font-weight: 600;
}

.features-heading3 {
    color: #66389C;
    font-family: Poppins;
    font-size: 20px;
    height: 40px;
    font-weight: 600;
}

.features-heading4 {
    color: #66389C;
    font-family: Poppins;
    font-size: 20px;
    height: 40px;
    font-weight: 600;
    margin-bottom: 1.5rem;
} */

.features-content1,
.features-content2,
.features-content3,
.features-content4 {
    /* color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    width: 299px;
    height: 133px; */
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    padding: 0px;
}

/* .features-content2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    width: 299px;
    height: 133px;
}

.features-content3 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    width: 299px;
    height: 133px;
}

.features-content4 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    width: 299px;
    height: 133px;

} */

.feature1-h1-div,
.feature2-h1-div,
.feature3-h1-div,
.feature4-h1-div {

    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

/* 
.feature3-h1-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
} */

@media (max-width: 1024px) {
    .features-parent {
        flex-wrap: wrap;
    }

    .feature1,
    .feature2,
    .feature3,
    .feature4 {
        width: 100%;
        margin: 5px;
        margin: 0;
    }

    .features-content1,
    .features-content2,
    .features-content3,
    .features-content4 {

        /* remove these for low size screens */
        width: auto;
        height: auto;
        flex-shrink: 0;
        line-height: 145%;

    }
}

.feature1 img,
.feature2 img,
.feature3 img,
.feature4 img {
    height: 140px;
}