.footer_border {
    border-top: 2px solid black;
    border-radius: 40px 40px 0px 0px;
    background: #FFF;

}

.lite-logo {
    width: 107px;
    height: 100px;
    flex-shrink: 0;

}

.footer-logo {
    width: 100px;
    height: 90px;
    flex-shrink: 0;
    margin-left: 3rem;
    background-position: 50%;
    margin-bottom: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.logo-text {
    width: 400px;
    height: 101px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    margin-top: 1rem;
    margin-left: 3rem;
}

.footer-headings {

    flex-shrink: 0;
    color: #66389C;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.follow-us {

    flex-shrink: 0;
    color: #66389C;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 2rem;

}

.content-text {
    width: 137px;
    height: 40px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3rem;
    white-space: nowrap;
    word-break: break-all;
}

.footer-headings p {
    width: 137px;
    height: 40px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social-icons {
    width: 160px;
    height: 49px;
    flex-shrink: 0;
    margin-bottom: 9rem;

}

.line {
    border-top: 5px solid #ccc;
    margin: 10px 0;
    width: 1830px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(102, 56, 156, 0.60);
    margin-top: 6rem;
}

.Copyright-Text {
    width: 240px;
    height: 35px;
    flex-shrink: 0;
    flex-shrink: 0;
    color: #66389C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins';
}

.Links {
    margin-left: 4rem;
}

.footer_links {
    color: #66389C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.5rem;
}

.last_parent {
    width: 100%;
    overflow: hidden;
    border-top: 2px solid rgba(102, 56, 156, 0.60);
}

.last_child {
    width: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 100px;
    padding-top: 20px;

}

.last_child2 {
    width: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;



}

.same-line li {
    display: inline-block;
    color: #66389C;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
    padding-left: 7rem;


}

.foot-parent {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.child_1 {
    width: auto;
    display: inline-block;
    flex-shrink: 0;
    margin-left: 3rem;


}

.child_2,
.child_3 {
    width: auto;
    display: inline-block;
    flex-shrink: 0;
    justify-content: space-around;
    padding-right: 15px !important;
    padding-left: 90px !important;
    margin-bottom: 4rem;
}

.child _4 {
    width: auto;
    display: inline-block;
    flex-shrink: 0;
    justify-content: space-around;
    padding-right: 15px !important;
    padding-left: 90px !important;
    margin-bottom: 4rem;

}


.facebook {
    padding-left: 20px;
    height: 40px;
    width: 40px;
}

.insta {
    height: 40px;
    width: 40px;
}

.twitter {
    height: 40px;
    width: 40px;
}

.items {
    list-style: none;
    padding-left: 0rem;
}

.items li {
    margin-top: 1rem;
    color: #000;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo-and-text {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.footer-logo-divider {
    width: 1px;
    height: 60px;
    background: #000;
    margin: 0 16px;
    position: relative;
    right: 40px;
}

.footer-logo-lite {
    position: relative;
    right: 10%;
    background: lightgray -89px -1.617px / 183.178% 103.233% no-repeat;
    ;
}

@media (min-width: 320px) and (max-width:495px) {

    .child_2,
    .child_3,
    .child_4 {
        width: auto;
        display: inline-block;
        flex-shrink: 0;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 0rem;
        margin-left: 5.5rem;
    }

    .follow-us {
        margin-left: 0rem;
    }

    .child_1 {
        margin-left: 0rem;
    }

    .logo-text {
        width: 380px;
        height: 101px;
        flex-shrink: 0;
        color: #000;
        font-family: 'Poppins';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 158%;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .grab-the-app {
        margin-right: 0rem;
    }

    .last_child,
    .last_child2 {
        width: 100%;
        display: block;

    }

    .same-line li {
        padding-left: 3rem;

    }

    .foot-parent {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2560px) {

    .child_2,
    .child_3,
    .child_4 {
        padding-right: 30px !important;
        padding-left: 400px !important;
        margin-bottom: 8rem;

    }

    .same-line li {
        padding-left: 15rem;

    }
}

@media screen and (max-width:1552px) {



    .same-line li {
        padding-left: 4rem;

    }
}

@media screen and (max-width:1264px) {



    .same-line li {
        padding-left: 2rem;

    }
}

@media screen and (max-width:1024px) and (min-width:768px) {



    .same-line li {
        padding-left: 1rem;

    }
}