.play-btn-parent {
    position: relative;
}

.play-btn {
    display: flex;
    align-items: center;
    /* Center items vertically */
    width: 15%;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
    position: relative;
    overflow: hidden;
    /* Ensure children don't overflow */
}

.googleplay-text {
    color: #fff;
    margin-left: 5%;
    /* Space between image and text */
    flex: 1;
    /* Allow text to take remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    /* Adjust line height if needed */
}

.googleplay-img {
    height: 75%;
    width: 35%;
    margin-right: 5%;
}